<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>

    <!--<customErrors mode="On" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/Views/Error/404.aspx" />
    </customErrors>-->
    <customErrors mode="RemoteOnly"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <error statusCode="404" path="~/Views/Error/404.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
</configuration>